---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "INICIO";
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <h2>Marca Personal</h2>
    <div>
      
    </div>
  </main>
</BaseLayout>